<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apps.blog.back.dao.ArticleDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.apps.blog.back.bean.Article">
<!-- 		<result column="stu_id"				property="id" 			/> -->
		
	</resultMap>

	<!-- t_student table all fields 不要stu_pwd, -->
	<sql id="Base_Column_List">
		id, pid, rootid, title, cont, pdate, isleaf, click
	</sql>

	
	<!-- 插入记录 
		添加时，除了密码和注册时间是有sql语句写死的，其他的数据都是从表单提交过来的。
		初始密码“111111”，sql语句中的是经过MD5 32位转码后的值。 -->
	<insert id="add" parameterType="Object" >
		insert into article
		(pid, rootid, title, cont, pdate, isleaf)
		values
		(#{pid}, #{rootid}, #{title}, #{cont}, now(), #{isleaf})
	</insert>
	
	<!-- 删除记录 -->
	<update id="delete" parameterType="Object">
		update article set stu_delsta=0 where id=#{id}
	</update>
	
	<!-- 阅读一次点击率加1 -->
	<select id="updateClick"  parameterType="java.lang.Integer" statementType="CALLABLE">
		<!-- {CALL artclick_insert(#{inputid,mode=IN, javaType=INTEGER})} -->
		call artclick_insert(#{id});
	</select>
	
	
	<!-- 查询全部 -->
	<select id="queryAll" resultMap="BaseResultMap" parameterType="Object">
		select * from article order by pdate desc
	</select>
	
	<!-- 查询全部 按照时间倒叙 -->
	<select id="queryAllSortDate" resultMap="BaseResultMap" parameterType="Object">
		select * from article where isleaf = 1 order by pdate desc
	</select>
	
	<!-- 根据id查询 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select * from article where id=#{id}
	</select>
	
	<!-- 根据一些条件查询 -->
	<select id="queryByThing" resultMap="BaseResultMap" parameterType="Object">
		select * from article where 1=1 
			<!-- 类别 -->
			<if test="pid != null  ">
				and pid=#{pid}
			</if>
			<if test="pdate != null  ">
				and month(pdate)=month(#{pdate})
			</if>
			<if test="isleaf != null  ">
				and isleaf=#{isleaf}
			</if>
		order by pdate desc
	</select>
	
	<!-- 根据id，拼接修改记录 -->
	<update id="update" parameterType="Object" >
		update article set 
		<trim suffixOverrides=",">
			<if test="pid != null  ">
				pid=#{pid},
			</if>
			<if test="rootid != null  ">
				rootid=#{rootid},
			</if>
			<if test="title != null  ">
				title=#{title},
			</if>
			<if test="cont != null ">
				cont = #{cont},
			</if>
			<if test="isleaf != null ">
				isleaf = #{isleaf},
			</if>
		</trim>
		 where id=#{id}
	</update>
	
	
	<select id="queryCountByPage" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from article
			<!-- 类别 -->
			<if test="pid != null  ">
				and pid=#{pid}
			</if>
			<if test="pdate != null  ">
				and month(pdate)=month(#{pdate})
			</if>
			<if test="isleaf != null  ">
				and isleaf=#{isleaf}
			</if>
			<if test="pager.orderCondition != null and pager.orderCondition != ''">
				${pager.orderCondition} 
			</if>
			<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
				${pager.mysqlQueryCondition} 
			</if>
			order by pdate desc
	</select>
	<select id="queryListByPage" resultMap="BaseResultMap" parameterType="Object">
		select * from article where 1=1 
			<!-- 类别 -->
			<if test="pid != null  ">
				and pid=#{pid}
			</if>
			<if test="pdate != null  ">
				and month(pdate)=month(#{pdate})
			</if>
			<if test="isleaf != null  ">
				and isleaf=#{isleaf}
			</if>
			order by pdate desc
			<if test="pager.orderCondition != null and pager.orderCondition != ''">
				${pager.orderCondition} 
			</if>
			<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
				${pager.mysqlQueryCondition} 
			</if>
		
			<!-- <include refid="Base_Column_List" /> -->
			<!-- 
			
			, 
			
		<include refid="Example_Where_Clause" /> -->
	</select>
	
	

	
	 <!-- 根据 id 查询密码，用于比较密码 -->
	<!--<select id="queryPwdById" resultType="String" parameterType="java.lang.Integer">
		select stu_pwd from t_student where stu_id=#{id} and stu_delsta=1 
	</select> -->
	
	<!-- 学生 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from article
		
	</select>

	

</mapper>   
