<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apps.blog.back.dao.CategoryDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.apps.blog.back.bean.Category">
<!-- 		<result column="stu_id"				property="id" 			/> -->
		
	</resultMap>

	<!-- t_student table all fields 不要stu_pwd, -->
	<sql id="Base_Column_List">
		id, name
	</sql>

	

	<!-- 插入记录 	初始密码“111111”，sql语句中的是经过MD5 32位转码后的值。 -->
	<insert id="add" parameterType="Object" >
		insert into category (name)	values (#{name})
	</insert>
	
	
	<!-- 查询所有用户 -->
	<select id="queryAll" resultMap="BaseResultMap" parameterType="Object">
		select * from category;
	</select>
	<!-- 查询单个用户 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select * from category where id=#{id};
	</select>
	
	<!-- 删除记录 -->
	<update id="delete" parameterType="Object">
		delete category where id=#{id}
	</update>
	
	<!-- 根据id，修改记录，-->
	<update id="update" parameterType="Object" >
		update category set
		 <if test="name != null  ">
			name=#{name}
		</if>
		where id=#{id}
	</update>
	
	
	<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
		select * from article;
			<!-- <include refid="Base_Column_List" /> -->
			<!-- , 
			
		<include refid="Example_Where_Clause" /> -->
	</select>
	
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1 and stu_delsta=1 
		<trim suffixOverrides=",">
			<if test="g_id != null and g_id != ''">
				and stu.g_id=#{g_id} 
			</if>
			<if test="s_id != null and s_id != ''">
				and stu.s_id=#{s_id} 
			</if>
			<if test="ml_id != null and ml_id != ''">
				and stu.ml_id=#{ml_id} 
			</if>
			<!-- 模糊查询 -->
			<if test="stu_emaver != null and stu_emaver != ''">
				and stu.stu_emaver=#{stu_emaver} 
			</if>
			<if test="stu_pwdexptim != null and stu_pwdexptim != ''">
				and stu.stu_pwdexptim=#{stu_pwdexptim} 
			</if>
			<if test="stu_valcod != null and stu_valcod != ''">
				and stu.stu_valcod=#{stu_valcod} 
			</if>
		</trim>
	</sql>
	<!-- 根据id，拼接修改记录，注册时间不要，密码不要 -->
	<update id="updateBySelective" parameterType="Object" >
		update t_student set 
		<trim suffixOverrides=",">
			<if test="g_id != null  ">
				g_id=#{g_id},
			</if>
			<if test="s_id != null  ">
				s_id=#{s_id},
			</if>
			<if test="ml_id != null  ">
				ml_id=#{ml_id},
			</if>
			
		</trim>
		 where stu_id=#{id}
	</update>
	


	
	 <!-- 根据 id 查询密码，用于比较密码 -->
	<!--<select id="queryPwdById" resultType="String" parameterType="java.lang.Integer">
		select stu_pwd from t_student where stu_id=#{id} and stu_delsta=1 
	</select> -->
	
	<!-- 学生 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from article
	</select>

	

</mapper>   
