<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apps.blog.back.dao.ForgetUserDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.apps.blog.back.bean.ForgetUser">
<!-- 		<result column="stu_id"				property="id" 			/> -->
		
	</resultMap>

	<sql id="Base_Column_List">
		id, userId, createTime, updateTime, count, dayCount
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1 and stu_delsta=1 
		<trim suffixOverrides=",">
			<if test="g_id != null and g_id != ''">
				and stu.g_id=#{g_id} 
			</if>
			<if test="s_id != null and s_id != ''">
				and stu.s_id=#{s_id} 
			</if>
			<if test="ml_id != null and ml_id != ''">
				and stu.ml_id=#{ml_id} 
			</if>
			<!-- 模糊查询 -->
			<if test="stu_emaver != null and stu_emaver != ''">
				and stu.stu_emaver=#{stu_emaver} 
			</if>
			<if test="stu_pwdexptim != null and stu_pwdexptim != ''">
				and stu.stu_pwdexptim=#{stu_pwdexptim} 
			</if>
			<if test="stu_valcod != null and stu_valcod != ''">
				and stu.stu_valcod=#{stu_valcod} 
			</if>
		</trim>
	</sql>

	<!-- 插入记录  -->
	<insert id="add" parameterType="Object" >
		insert into forgetuser (userId, createTime, updateTime, count, dayCount)
		values (#{userId}, now(), #{updateTime}, #{count}, #{dayCount})
	</insert>
	
	
	<select id="queryUserByUserId" resultMap="BaseResultMap" parameterType="Object">
		select * from forgetuser where userId=#{userId}
	</select>
	<!-- 查询用户记录数 -->
	<select id="queryCountByUserId" resultType="Integer" parameterType="Object">
		select count(1) from forgetuser where userId=#{userId}
	</select>
	
	<!-- 查询所有用户 -->
	<select id="queryAll" resultMap="BaseResultMap" parameterType="Object">
		select * from user;
	</select>
	<!-- 查询单个用户 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select * from user where id=#{id};
	</select>
	
	<!-- 删除记录 -->
	<update id="delete" parameterType="Object">
		update article set stu_delsta=0 where id=#{id}
	</update>
	
	<!-- 根据id，修改记录，-->
	<update id="update" parameterType="Object" >
		update forgetuser
		<set>
			 <if test="createTime != null">
				createTime=#{createTime},
			</if>
			 <if test="updateTime != null">
				updateTime=#{updateTime},
			</if>
			 <if test="count != null">
				count=#{count},
			</if>
			 <if test="dayCount != null">
				dayCount=#{dayCount},
			</if>
		</set>
		where userId=#{userId}
	</update>
	
	
</mapper>   
