<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apps.blog.back.dao.SaltDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.apps.blog.back.bean.Salt">
	</resultMap>

	<!-- t_student table all fields 不要stu_pwd, -->
	<sql id="Base_Column_List">
		id, salt, userid, create_time, update_time
	</sql>
	
	
	<insert id="add">
		insert into salt(salt, userid, create_time, update_time)
		 value(#{salt}, #{userid}, now(), now())
	</insert>

	
	<!-- 查询单个用户 -->
	<select id="querySalt" resultMap="BaseResultMap" parameterType="Object">
		select * from salt where userid=#{userid};
	</select>
	
	
	<!-- 根据id，修改记录，-->
	<update id="update" parameterType="Object" >
		update salt set
		update_time = now()
		 <if test="salt != null  ">
			,salt=#{salt}
		</if>
		where userid=#{userid}
	</update>
	
</mapper>   
