body{
	margin:0px;
	padding:0px;
}
.article ul li {
	list-style-type: none;
	
	/* height:23px; */
}
.articleleft li{
	width: 70px;
	margin-top: 5px;
	text-align: right;
}
.articleleft{
	width:170px;
	height:827px;
	
}
.articleleftcont{
	width:170px;
	height:650px;/*669*/
}
.articleright{
	width:800px;
	background-color: grey;
}
.articleright li{
	width:470px;
	margin-top: 5px;
}

.articlerightcont{
	height:500px;
	width:800px;
}
.article ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
    float: left;
	
}
.title li{
	width: 170px;
	height:23px;
	background-color: #93ADF1;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}