body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.article ul li {
	list-style-type: none;
	float: left;
	width: 14.2%;
	height:23px;
	
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space:nowrap;
}
.article ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 14.2%;
	height:23px;
	background-color: #FFB976;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}
.currentBtnShow{
	background-color: #BAE3F7;
	color: white;
}
.currentBtnHidden{
	background-color: #FFAFA2;
	color: white;
}
.currentBtnShare{
	background-color: #ACBB69;
	color: white;
}
.currentBtnShareClose{
	background-color: #FB76FF;
	color: white;
}
.currentBtnTop{
	background-color: #88DCAD;
	color: white;
}
.currentBtnNormal{
	background-color:#FF5C54;
	color: white;
}
input{
	border: none;
	border-radius: 3px;
}
.article ul li a {
	display:block;/*将a设置为块级元素*/
	text-decoration: none;
	width:50px;
	height:20px;
	text-align:center;
	font-size:17px;
	background-color:#98BBF0;
	line-height:20px; 
	color:white;
	border-radius:3px;
}
.article ul{
	height:24px;
	line-height:20px;
}

.alert{
	width:40%;
	height:190px;
	background:white;
	border-radius:5px;
	z-index:10;
	position:absolute;
	top:100px;
	left:30%;
	display:none;
	padding-top:40px;
	
}

.mask{
	width:100%;
	position:fixed;
	height:100%;
	z-index:9;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
	display:none;
}
.mytrOne{
	background-color:#ECF6EE;
}
.mytrTwo{
	background-color:#fafafa
}
.over{
/*    background-color: tomato;*/
    background-color: #EAE7E7;
}
.page ul li{
	list-style-type: none;
	float: left;
}
.pageCenter{
	margin-top:20px;
	width: 100%;
	text-align: center;
}
.pageNum{
	margin: auto;
	display: inline-block;
	
}
.pageNum li{
	float:left;
	line-height:30px;
	font-size:20px;
	width: 30px;
	height:30px;
}
.page ul li a{
	text-decoration: none;
}
.currentPageEven{
	display: block;
    color: white;
    line-height: 30px;
	color:white;
	background-color:#F3B0A9;
	font-size:26px;
	width: 30px;
	height:30px;
	border-radius: 4px;
}
.currentPageOdd{
	display: block;
    color: white;
    line-height: 30px;
	color:white;
	background-color:#9EC9B7;
	font-size:26px;
	width: 30px;
	height:30px;
	border-radius: 4px;
}
/* .css1{
color:#6699ff;border:1px #ff8000 dashed;
margin-bottom:20px;
width: 20em;不允许出现半汉字截断
}
.css2 {
overflow: hidden; 自动隐藏文字
text-overflow: ellipsis;文字隐藏后添加省略号
white-space: nowrap;强制不换行
width: 20em;不允许出现半汉字截断
color:#6699ff;border:1px #ff8000 dashed;
}
 */