body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.article ul li {
	list-style-type: none;
	float: left;
	width: 170px;
	height:23px;
	
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space:nowrap;
}
.article ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 170px;
	height:23px;
	background-color: #FFB976;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}
.currentBtnShow{
	background-color: #7395E9;
	color: white;
}
.currentBtnHidden{
	background-color: #FFAFA2;
}
.currentBtnTop{
	background-color: #88DCAD;
	color: white;
}
.currentBtnNormal{
	background-color:#FF5C54;
	color: white;
}
input{
	border: none;
	border-radius: 3px;
}
.article ul li a {
	display:block;/*将a设置为块级元素*/
	text-decoration: none;
	width:50px;
	height:20px;
	text-align:center;
	font-size:17px;
	background-color:#98BBF0;
	line-height:20px; 
	color:white;
	border-radius:3px;
}
/* .css1{
color:#6699ff;border:1px #ff8000 dashed;
margin-bottom:20px;
width: 20em;不允许出现半汉字截断
}
.css2 {
overflow: hidden; 自动隐藏文字
text-overflow: ellipsis;文字隐藏后添加省略号
white-space: nowrap;强制不换行
width: 20em;不允许出现半汉字截断
color:#6699ff;border:1px #ff8000 dashed;
}
 */