body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.article ul li {
	list-style-type: none;
	float: left;
	width: 170px;
	height:23px;
}
.article ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 170px;
	height:23px;
	background-color: #FFB976;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}