body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.category ul li {
	list-style-type: none;
	float: left;
	width: 190px;
	height:23px;
}
.category ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 190px;
	height:23px;
	background-color: #FFDC76;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}
.addCategory ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.addCategory ul li {
	list-style-type: none;
	float: left;
	width: 190px;
	height:23px;
}
.category ul li a {
	display:block;/*将a设置为块级元素*/
	text-decoration: none;
	width:50px;
	height:20px;
	text-align:center;
	font-size:17px;
	background-color:#98BBF0;
	line-height:20px; 
	color:white;
	border-radius:3px;
}
input{
	border: none;
	border-radius: 3px;
}
.inputadd{
	border:1px solid #FFDC76;
}