body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.comment ul li {
	list-style-type: none;
	float: left;
	width: 170px;
	height:23px;
	
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space:nowrap;
}
.comment ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 170px;
	height:23px;
	background-color: #E4F88C;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}
.currentBtnShow{
	background-color: #BAE3F7;
	color: white;
}
.currentBtnHidden{
	background-color: #FFAFA2;
	color: white;
}
input{
	border: none;
}
.comment ul li a {
	display:block;/*将a设置为块级元素*/
	text-decoration: none;
	width:50px;
	height:20px;
	text-align:center;
	font-size:17px;
	background-color:#98BBF0;
	line-height:20px; 
	color:white;
	border-radius:3px;
}