body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.comment ul li {
	list-style-type: none;
	float: left;
	width: 170px;
	height:23px;
	
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space:nowrap;
}
.comment ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 170px;
	height:23px;
	background-color: #E4F88C;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}
/* .css1{
color:#6699ff;border:1px #ff8000 dashed;
margin-bottom:20px;
width: 20em;不允许出现半汉字截断
}
.css2 {
overflow: hidden; 自动隐藏文字
text-overflow: ellipsis;文字隐藏后添加省略号
white-space: nowrap;强制不换行
width: 20em;不允许出现半汉字截断
color:#6699ff;border:1px #ff8000 dashed;
}
 */