body{
	margin:0px;
	padding:0px;
}

.commentleft{
	width:70px;
}
.commenttitle{
	background-color: #E4F88C;
	font-weight: bold;
}

.currentBtnPass{
	background-color: #7395E9;
	color: white;
}
.currentBtnFail{
	background-color: #FFAFA2;
	
}

.commentleftcont{
	width:170px;
}
.commentright{
	width:840px;
}

.commentright li{
	width:470px;
	margin-top: 5px;
}

input{
	border: none;
	width: 70px;
	height:23px;
	border-radius:3px;
}
