.headTemplate ul li{
	list-style-type: none;
	float: left;
	width: 20%;
	height:28px;
	border-radius:3px;
	text-align: center;
	margin-left: 0px;
	font:20px/1.4em 黑体;
	/*顺序：font-style | font-variant | font-weight | font-size | line-height | font-family*/
}
.headTemplate ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.head{
	text-decoration: none;
	color:white;
}
.headtitle a{
	font-weight:bold;
}
.headuserTitle{
	background-color: #FD5B56;
}
.headuseroutTitle{
	background-color:#2D2D31;
}
.headarticleTitle{
	background-color:#FFB976;
}
.headcategoryTitle{
	background-color:#FFDC76;
}
.headcommentTitle{
	background-color:#e4f88c;
}