body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.user ul li {
	list-style-type: none;
	float: left;
	width: 20%;
	height:23px;
}
.user ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.addUser ul li{
	list-style-type: none;
	float: left;
	width: 25%;
	height:23px;
}
.addUser ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 33%;
	height:23px;
	background-color: #FD5B56;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}
.user ul li a {
	display:block;/*将a设置为块级元素*/
	text-decoration: none;
	width:50px;
	height:20px;
	text-align:center;
	font-size:17px;
	background-color:#98BBF0;
	line-height:20px; 
	color:white;
	border-radius:3px;
}
input{
	border: none;
	border-radius: 3px;
}
.inputadd{
	border:1px solid #FD5B56;
}

.alert{
	width:40%;
	height:290px;
	background:white;
	border-radius:5px;
	z-index:10;
	position:absolute;
	top:100px;
	left:30%;
	display:none;
	padding-top:40px;
	
}
.mask{
	width:100%;
	position:fixed;
	height:100%;
	z-index:9;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
	display:none;
}
.updatepwd_btn{
	background-color: #6D94F3;
	color:white;
}
.errormsg{
	color:red;
}

.form{width:80%; margin:auto;}
.input-box{width:100%; margin:20px 0;line-height:36px;}
.input-box input{width:80%;float:right;border:1px solid #eee;height:36px;}
.confirm_btn{width:100%;height:36px; background:#fb6968; text-align:center;border:none;margin-top:40px;
font-size:18px; color:#eee;font-family:'微软雅黑';
}