body{
	margin:0px;
	padding:0px;
}
p{
	margin:0px;
	padding:0px;
}
.user ul li {
	list-style-type: none;
	float: left;
	width: 190px;
	height:23px;
}
.user ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.addUser ul li{
	list-style-type: none;
	float: left;
	width: 190px;
	height:23px;
}
.addUser ul{
	margin:0px;
	padding:0px;
	overflow: hidden;
}
.title li{
	width: 170px;
	height:23px;
	background-color: #FD5B56;
	text-align: center;
	border-radius:3px;
	line-height: 23px;
	color:white;
}
.user ul li a {
	display:block;/*将a设置为块级元素*/
	text-decoration: none;
	width:50px;
	height:20px;
	text-align:center;
	font-size:17px;
	background-color:#98BBF0;
	line-height:20px; 
	color:white;
	border-radius:3px;
}